.App
{
  width: 100vw;
  min-height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background-color: #181A1B;
}

.App-logo
{
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference)
{
  .App-logo
  {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header
{
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link
{
  color: #61dafb;
}

@keyframes App-logo-spin
{
  from
  {
    transform: rotate(0deg);
  }

  to
  {
    transform: rotate(360deg);
  }
}

.colorPalette
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 20rem;
  height: 20rem;
  border: 2px solid whitesmoke;
  margin-top: 2rem;
  font-size: 2rem;
  color: whitesmoke;
  background-color: #181A1B;
  border-radius: 0.5rem;
  box-shadow: 5px 5px 10px rgba(245, 245, 245, 1);
}

.colorSelectionForm
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.colorSelectionForm input
{
  width: 20rem;
  height: 3rem;
  font-size: 2rem;
  color: whitesmoke;
  background-color: #181A1B;
  border-radius: 0.5rem;
  box-shadow: 5px 5px 10px rgba(245, 245, 245, 1);
}